@{
    ViewData["Title"] = "Home Page";
}
<script>
    if (localStorage.getItem('dark')) {
        body.classList.add('dark');
    }
</script>


<div class="text-center">
    <h1 class="display-4">Recent Alerts</h1>
    <p>Recentlt alerted devices will be displayed here.</p>
</div>

<div>
    <div class="box">Bird Watcher
        <a href="https://the-gadgeteer.com/wp-content/uploads/2021/05/blinkcam-birdcam-6.jpg">
            <p>
                View Alert
            </p>
        </a>
    </div>
    <p></p>
    <div class="box">Door Cam</div>
    <p></p>
    <div class="box">Livingroom Cam <br />

        <a href="catGif.gif"
            <p>
                View Alert
            </p>
        </a>
    </div>
</div>

<script>
    checkbox.addEventListener('change', darkModeToggle() {
        localStorage.setItem('dark', this.checked);
        if (this.checked) {
            body.classList.add('dark')
        } else {
            body.classList.remove('dark')
        }
    });

</script>
