
@{
    ViewData["Title"] = "Settings";

}

<h1>@ViewData["Title"]</h1>

<body>
    <div class="flex-container">
        <div>Change Colors: </div>
        <div>
            <button onclick="darkModeToggle()">Toggle Light/Dark</button>
        </div>
    </div>
</body>
