
@{
    ViewData["Title"] = "Settings";

}
<script>
    if (localStorage.getItem('dark')) {
        body.classList.add('dark');
    }
</script>

<h1>@ViewData["Title"]</h1>



<body>
    <div>
        <div class="miniTitles">Change Colors: </div>
        <div>
            <button onclick="darkModeToggle()">Toggle Light/Dark</button>
        </div>
    </div>
 
</body>

<script>
    checkbox.addEventListener('change', darkModeToggle() {
        localStorage.setItem('dark', this.checked);
        if (this.checked) {
            body.classList.add('dark')
        } else {
            body.classList.remove('dark')
        }
    });

</script>
