
@{
    ViewData["Title"] = "Settings";

}

<h1>@ViewData["Title"]</h1>

<body>
    <div>
        <div class="miniTitles">Change Colors: </div>
        <div>
            <button onclick="darkModeToggle()">Toggle Light/Dark</button>
        </div>
    </div>
 
</body>
